.*
*.pyc
samples*/*
build/**
logs/**
dist/**

# ignore the log files when generated
*.log
__pycache__

# don't ignore the .gitignore or the env template
!.gitignore
!.env.template

# ignore test outputs and notebook outputs
tests/datafiles/**
tests/*.cataclysm
notebooks/datafiles/**
notebooks/*.cataclysm

# we don't want completions regardless of name
datafiles/plunkylib/completions/**

# not code generations (not yet anyway)
datafiles/cataclysm/code*/**
